# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile

# Problem is that many web apps don't work when put into a subpath:
# https://caddy.community/t/the-subfolder-problem-or-why-cant-i-reverse-proxy-my-app-into-a-subfolder/8575

# Easiest to make a subdomain for each app, but then we need to take care of DNS.
# For example sub.localhost only works if /etc/hosts is adjusted. Also tried sub.rpi4, sub.rpi4.fritz.box, but apparently no wildcard subdomains.
grafana.localhost:80 {
	reverse_proxy :3000
}

# Reverse proxy into subpaths - see comments what works.
:80 {
	# working
	redir /news /news/
	handle_path /news/* {
		reverse_proxy :8080
	}
	# working
	redir /swm /swm/
	handle_path /swm/* {
		reverse_proxy :8081
	}
	# empty page, loads /*.{js,css}
	redir /chronograf /chronograf/
	handle_path /chronograf/* {
		reverse_proxy :8888
	}
	# redirects to /login
	redir /grafana /grafana/
	handle_path /grafana/* {
		reverse_proxy :3000
	}
	# working with correct headers: https://community.octoprint.org/t/reverse-proxy-configuration-examples/1107
	redir /octoprint /octoprint/
	handle_path /octoprint/* {
		reverse_proxy :5000 {
			header_up X-Scheme {scheme}
			header_up X-Script-Name /octoprint
		}
	}
	# working, used in octoprint
	redir /webcam /webcam/
	handle_path /webcam/* {
		reverse_proxy :8090
	}
	# redirects to /web, but can set base URL: https://jellyfin.org/docs/general/networking/caddy.html
	redir /jellyfin /jellyfin/
	handle_path /jellyfin/* {
		reverse_proxy :8096
	}
}
