[Unit]
Description=vogler/BloodPressureWifi: MQTT sensors/blood-pressure to ~/blood-pressure.log
After=mosquitto.service

[Service]
Type=simple
User=pi
# ts format: systemd replaces %m by machine ID and %H by host name, so we need to escape the %.
# Beware changing quoting: using double quotes inside, it did not write out anything.
ExecStart=/bin/sh -c 'mosquitto_sub -t sensors/blood-pressure/# -v | ts \'%Y-%%m-%d %%H:%M:%S\' | tee -a /home/pi/blood-pressure.log'
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
