[Unit]
Description=Dash-Button-Logger
After=network-online.target

[Service]
Type=simple
User=root
ExecStart=/bin/bash -c 'cd /home/pi; exec stdbuf -o 0 /usr/bin/python3 -u dash.py 2>&1 | tee -a dash.log'
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
