[Unit]
Description=video-dl http-server
After=network.target

[Service]
User=pi
ExecStart=npx http-server -a '::'
WorkingDirectory=/home/pi/video-dl/videos
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target network.target
